
.top_nav
{

    background-color: black;
    width: 100%;
    padding: 10px;
    padding-bottom: 15px;
    color: white;
}

.btn_cls
{
    background-color: black;
    color: white;
    border: none;
    padding: 10px;
    border: 1px solid green;
    margin-left: 50px;
    margin-top: 15px;
    transition: 1s all;
}

.btn_cls:hover
{
    background-color: white;
    border: 1px solid black;
    padding-left:15px;
    padding-right:15px;
    color:black;
    
}

.marqu
{
    background-color: whitesmoke;
}